Repository mariogl/rick-and-morty-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,json,css,md}": "prettier --write",
  "**/*.{ts,tsx}": "eslint --max-warnings=0"
}

refactor: move character hooks to presentation layer
  src/character/presentation/hooks/useCharacterSearch.ts
  src/character/presentation/hooks/useCharacterSort.ts
  src/character/presentation/hooks/useCharacters.ts
  src/character/presentation/hooks/useDebounceSearch.ts
  src/characters/components/CharacterCard/CharacterCard.test.tsx
  src/characters/components/CharacterCounter/CharacterCounter.tsx
  src/characters/components/CharacterList/CharacterList.test.tsx
  src/characters/components/CharacterList/CharacterList.tsx
  src/characters/components/CharacterSearch/CharacterSearch.test.tsx
  src/characters/components/CharacterSearch/CharacterSearch.tsx
  src/characters/components/CharacterSorting/CharacterSorting.tsx
  src/shared/testUtils/TestProviders.tsx
  src/shared/testUtils/testUtils.tsx
  src/tests/pages/App.test.tsx
  src/tests/pages/CharacterDetailPage.test.tsx
  src/tests/pages/CharacterListPage.test.tsx
Due: prettier --write, eslint --max-warnings=0

refactor: remove unnecesary context
  src/CompositionRoot.ts
  src/character/application/GetCharacterDetailUseCase.ts
  src/character/data/FetchCharacterClient.ts
  src/character/presentation/queries/useCharacterQuery.ts
  src/characters/client/CharacterClientContext.tsx
  src/characters/client/CharacterClientProvider.tsx
  src/characters/client/types.ts
  src/characters/client/useCharacterClient.ts
  src/characters/components/CharacterDetail/useCharacterDetail.ts
  src/characters/queries/useCharacterQuery.ts
  src/main.tsx
  src/routes/__root.tsx
  src/routes/characters/$id.tsx
  src/shared/testUtils/TestProviders.tsx
  src/shared/testUtils/testUtils.tsx
  src/tests/pages/App.test.tsx
  src/tests/pages/CharacterListPage.test.tsx
Due: prettier --write, eslint --max-warnings=0

refactor: reorganize environment and config structure
  src/CompositionRoot.ts
  src/character/presentation/hooks/useDebounceSearch.ts
  src/character/tests/data/characterHandlers.ts
  src/main.tsx
  src/shared/config/config.ts
  src/shared/config/environment.ts
  src/shared/testUtils/TestProviders.tsx
  src/shared/tests/App.test.tsx
  src/shared/tests/CharacterDetailPage.test.tsx
  src/shared/tests/CharacterListPage.test.tsx
Due: prettier --write, eslint --max-warnings=0

refactor: move character components to presentation layer
  src/character/presentation/components/CharacterCard/CharacterCard.module.css
  src/character/presentation/components/CharacterCard/CharacterCard.test.tsx
  src/character/presentation/components/CharacterCard/CharacterCard.tsx
  src/character/presentation/components/CharacterCounter/CharacterCounter.module.css
  src/character/presentation/components/CharacterCounter/CharacterCounter.tsx
  src/character/presentation/components/CharacterDetail/CharacterDetail.module.css
  src/character/presentation/components/CharacterDetail/CharacterDetail.tsx
  src/character/presentation/components/CharacterDetail/useCharacterDetail.ts
  src/character/presentation/components/CharacterDetailSkeleton/CharacterDetailSkeleton.module.css
  src/character/presentation/components/CharacterDetailSkeleton/CharacterDetailSkeleton.tsx
  src/character/presentation/components/CharacterList/CharacterList.test.tsx
  src/character/presentation/components/CharacterList/CharacterList.tsx
  src/character/presentation/components/CharacterListControls/CharacterListControls.module.css
  src/character/presentation/components/CharacterListControls/CharacterListControls.tsx
  src/character/presentation/components/CharacterListSkeleton/CharacterListSkeleton.module.css
  src/character/presentation/components/CharacterListSkeleton/CharacterListSkeleton.tsx
  src/character/presentation/components/CharacterSearch/CharacterSearch.module.css
  src/character/presentation/components/CharacterSearch/CharacterSearch.test.tsx
  src/character/presentation/components/CharacterSearch/CharacterSearch.tsx
  src/character/presentation/components/CharacterSorting/CharacterSorting.tsx
  src/routes/characters/$id.tsx
  src/routes/characters/index.tsx
Due: prettier --write, eslint --max-warnings=0

refactor: move styles to presentation folder
  src/main.tsx
  src/shared/presentation/styles/globals.css
  src/shared/presentation/styles/index.css
  src/shared/presentation/styles/layout.css
  src/shared/presentation/styles/theme.css
Due: prettier --write, eslint --max-warnings=0

refactor: move route folder to presentation layer
  src/main.tsx
  src/shared/presentation/client/queryClient.ts
  src/shared/presentation/router/routeTree.gen.ts
  src/shared/presentation/routes/__root.tsx
  src/shared/presentation/routes/characters/$id.tsx
  src/shared/presentation/routes/characters/index.tsx
  src/shared/presentation/routes/index.tsx
  src/shared/testUtils/TestProviders.tsx
  src/shared/tests/App.test.tsx
  src/shared/tests/CharacterDetailPage.test.tsx
  src/shared/tests/CharacterListPage.test.tsx
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

refactor: replace relative paths with path aliases
  src/CompositionRoot.ts
  src/character/data/dto/CharacterDto.ts
  src/character/presentation/components/CharacterCard/CharacterCard.test.tsx
  src/character/presentation/components/CharacterCounter/CharacterCounter.tsx
  src/character/presentation/components/CharacterList/CharacterList.test.tsx
  src/character/presentation/components/CharacterList/CharacterList.tsx
  src/character/presentation/components/CharacterListControls/CharacterListControls.tsx
  src/character/tests/data/CharacterDto.test.ts
  src/main.tsx
  src/shared/presentation/components/Card/CardTitle.tsx
  src/shared/presentation/components/MainHeader/MainHeader.tsx
  src/shared/tests/App.test.tsx
  src/shared/tests/CharacterListPage.test.tsx
Due: prettier --write, eslint --max-warnings=0

refactor: reorganize character domain types
  src/character/application/CharacterSorter/CharacterSorter.ts
  src/character/application/GetCharactersUseCase.ts
  src/character/data/dto/CharacterDto.ts
  src/character/data/dto/schema.ts
  src/character/domain/Character.ts
  src/character/domain/Gender.ts
  src/character/domain/Status.ts
  src/character/domain/types.ts
  src/character/presentation/components/CharacterSorting/CharacterSorting.tsx
  src/character/presentation/hooks/useCharacterSort.ts
  src/character/presentation/queries/useCharactersQuery.ts
  src/character/tests/data/CharacterDto.test.ts
  src/shared/presentation/routes/characters/index.tsx
Due: prettier --write, eslint --max-warnings=0

test: make E2E test the production build in CI/CD
  .github/workflows/e2e.yml
  playwright.config.ts
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

docs: add answers to technical questions
  answers.md
Due: prettier --write

chore: add engines field to specify required Node and npm versions
  package.json
Due: prettier --write

feat(ui): add ARIA roles and attrs to skeletons
  src/character/presentation/components/CharacterDetailSkeleton/CharacterDetailSkeleton.tsx
  src/character/presentation/components/CharacterListSkeleton/CharacterListSkeleton.tsx
  user-stories.md
Due: prettier --write, eslint --max-warnings=0

docs: add User Stories
  user-stories.md
Due: prettier --write

ci: add test step to pre-commit hok
  .husky/pre-commit
Due: none

docs: add README.md
  README.md
Due: prettier --write

docs: add TOC to README
  README.md
Due: prettier --write

refactor: remove NavigationLink component to decouple UI from router library
  src/shared/presentation/components/Navigation/Navigation.module.css
  src/shared/presentation/components/Navigation/Navigation.tsx
  src/shared/presentation/components/Navigation/NavigationLink.tsx
  src/shared/presentation/routes/__root.tsx
Due: prettier --write, eslint --max-warnings=0
